<!DOCTYPE HTML>
<html lang="en"
    style="--primary-1:rgba(1, 98, 232, 0.1); --primary-2:rgba(1, 98, 232, 0.2); --primary-3:rgba(1, 98, 232, 0.3); --primary-5:rgba(1, 98, 232, 0.5); --primary-8:rgba(1, 98, 232, 0.8);">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta name="Description" content="">
    <meta name="Author" content="Pankaj Choudhary">
    <meta name="Keywords" content="">
    <!-- Title -->
    <title><%- page_title %> - Admin Panel</title> <!-- Favicon -->
    <link rel="icon" href="../../assets/img/brand/favicon.png" type="image/x-icon"> <!-- Icons css -->
    <div class="jqvmap-label"></div>
    <link href="../../assets/css/icons.css" rel="stylesheet"> <!-- Bootstrap css -->
    <link href="../../assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"> <!-- style css -->
    <link href="../../assets/css/style.css" rel="stylesheet">
    <!--- Animations css-->
    <link href="../../assets/css/animate.css" rel="stylesheet">
    <!---Switcher css-->
    <link href="../../assets/switcher/css/switcher.css" rel="stylesheet">
    <link href="../../assets/switcher/demo.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <style>
        .table-bordered> :not(caption)>* {
            border-bottom-color: #dde2ef;
        }

        .form-control textarea {
            border: 1px solid #e1e5ef;
        }

        .main-logo {
            font-size: 20px;
            font-weight: 600;
        }
        .tox-notification { display: none !important }
    </style>
</head>

<body class="main-body app sidebar-mini ltr">
    <div class="horizontalMenucontainer">
        <!-- Loader -->
        <div id="global-loader"> <img src="../../assets/img/loader.svg" class="loader-img" alt="Loader">
        </div> <!-- /Loader -->
        <!-- Page -->
        <div class="page custom-index">
            <div>
                <!-- main-header -->
                <div class="main-header side-header sticky nav nav-item" style="margin-bottom: -63px;">
                    <div class="container-fluid main-container ">
                        <div class="main-header-left ">
                            <div class="responsive-logo">
                                <a href="/admin" class="header-logo" style="font-size: 20px;font-weight: bold;">
                                    <!-- <img src="../../assets/img/brand/logo.png" class="logo-1" alt="logo"> -->
                                    <!-- <img src="../../assets/img/brand/logo-white.png" class="dark-logo-1" alt="logo"> -->

                                    <div class="logo-1">Admin Panel</div>
                                    <div class="dark-logo-1">Admin Panel</div>

                                </a>
                            </div>
                            <div class="app-sidebar__toggle" data-bs-toggle="sidebar">
                                <a class="open-toggle" href="javascript:void(0);">  
                                    <i class="header-icon fe fe-align-left"></i>
                                </a>
                                <a class="close-toggle" href="javascript:void(0);">
                                    <i class="header-icons fe fe-x"></i>
                                </a>
                            </div>
                            <div class="main-header-center ms-3 d-sm-none d-md-none d-lg-block">
                                <input class="form-control" placeholder="Search for anything..." type="search">
                                <button class="btn">
                                    <i class="fe fe-search d-none d-md-block"></i>
                                </button>
                            </div>
                        </div>
                        <div class="main-header-right">
                            <button class="navbar-toggler navresponsive-toggler d-lg-none ms-auto" type="button"
                                data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4"
                                aria-controls="navbarSupportedContent-4" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon fe fe-more-vertical "></span>
                            </button>
                            <div
                                class="mb-0 navbar navbar-expand-lg navbar-nav-right responsive-navbar navbar-dark p-0">
                                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                                    <ul class="nav nav-item  navbar-nav-right ms-auto ">
                                        <li class="dropdown nav-item main-layout ">
                                            <a
                                                class="new nav-link theme-layout nav-link-bg layout-setting  d-flex align-items-center">
                                                <span class="dark-layout">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="header-icon-svgs"
                                                        width="24" height="24" viewBox="0 0 24 24">
                                                        <path
                                                            d="M20.742 13.045a8.088 8.088 0 0 1-2.077.271c-2.135 0-4.14-.83-5.646-2.336a8.025 8.025 0 0 1-2.064-7.723A1 1 0 0 0 9.73 2.034a10.014 10.014 0 0 0-4.489 2.582c-3.898 3.898-3.898 10.243 0 14.143a9.937 9.937 0 0 0 7.072 2.93 9.93 9.93 0 0 0 7.07-2.929 10.007 10.007 0 0 0 2.583-4.491 1.001 1.001 0 0 0-1.224-1.224zm-2.772 4.301a7.947 7.947 0 0 1-5.656 2.343 7.953 7.953 0 0 1-5.658-2.344c-3.118-3.119-3.118-8.195 0-11.314a7.923 7.923 0 0 1 2.06-1.483 10.027 10.027 0 0 0 2.89 7.848 9.972 9.972 0 0 0 7.848 2.891 8.036 8.036 0 0 1-1.484 2.059z">
                                                        </path>
                                                    </svg>
                                                </span>
                                                <span class="light-layout">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="header-icon-svgs"
                                                        width="24" height="24" viewBox="0 0 24 24">
                                                        <path
                                                            d="M6.993 12c0 2.761 2.246 5.007 5.007 5.007s5.007-2.246 5.007-5.007S14.761 6.993 12 6.993 6.993 9.239 6.993 12zM12 8.993c1.658 0 3.007 1.349 3.007 3.007S13.658 15.007 12 15.007 8.993 13.658 8.993 12 10.342 8.993 12 8.993zM10.998 19h2v3h-2zm0-17h2v3h-2zm-9 9h3v2h-3zm17 0h3v2h-3zM4.219 18.363l2.12-2.122 1.415 1.414-2.12 2.122zM16.24 6.344l2.122-2.122 1.414 1.414-2.122 2.122zM6.342 7.759 4.22 5.637l1.415-1.414 2.12 2.122zm13.434 10.605-1.414 1.414-2.122-2.122 1.414-1.414z">
                                                        </path>
                                                    </svg>
                                                </span>
                                            </a>
                                        </li>
                                        <li class="nav-link search-icon d-lg-none d-block ">
                                            <form class="navbar-form" role="search">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" placeholder="Search">
                                                    <span class="input-group-btn">
                                                        <button type="reset" class="btn btn-default">
                                                            <i class="fas fa-times"></i>
                                                        </button>
                                                        <button type="submit" class="btn btn-default nav-link resp-btn">
                                                            <svg xmlns="http://www.w3.org/2000/svg" height="24px"
                                                                class="header-icon-svgs" viewBox="0 0 24 24"
                                                                width="24px" fill="#000000">
                                                                <path d="M0 0h24v24H0V0z" fill="none"></path>
                                                                <path
                                                                    d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                                                                </path>
                                                            </svg>
                                                        </button>
                                                    </span>
                                                </div>
                                            </form>
                                        </li>
                                        <li class="nav-item full-screen fullscreen-button">
                                            <a class="new nav-link full-screen-link d-flex align-items-center"
                                                href="javascript:void(0);">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="header-icon-svgs"
                                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                    <path
                                                        d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3">
                                                    </path>
                                                </svg>
                                            </a>
                                        </li>
                                        <li class="dropdown main-profile-menu nav nav-item nav-link">
                                            <a class="profile-user d-flex" href="">
                                                <img alt="" src="../../assets/img/faces/11.jpg">
                                            </a>
                                            <div class="dropdown-menu">
                                                <div class="main-header-profile bg-primary p-3">
                                                    <div class="d-flex wd-100p">
                                                        <div class="main-img-user"><img alt=""
                                                                src="../../assets/img/faces/11.jpg" class=""></div>
                                                        <div class="ms-3 my-auto">
                                                            <% if(user){ %>
                                                                <h6 class="text-capitalize">
                                                                    <%= user.name %>
                                                                </h6>
                                                                <% } %>
                                                                    <!-- <span>Premium Member</span> -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="dropdown-item" href="/profile">
                                                    <i class="bx bx-user-circle"></i>Profile
                                                </a>
                                                <a class="dropdown-item" href="/logout">
                                                    <i class="bx bx-log-out"></i> Sign Out
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="jumps-prevent" style="padding-top: 63px;"></div>  -->
                <!-- /main-header -->
                <!-- main-sidebar -->
                <div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
                <div class="sticky is-expanded" style="margin-bottom: -63px;">
                    <aside class="app-sidebar sidebar-scroll ps ps--active-y open">
                        <div class="main-sidebar-header active">
                            <a class="desktop-logo logo-light active" href="/admin">
                                <!-- <img src="../../assets/img/brand/logo.png" class="main-logo" alt="logo"> -->
                                <div class="main-logo">Admin Panel</div>
                            </a>
                            <a class="desktop-logo logo-dark active" href="/admin">
                                <!-- <img src="../../assets/img/brand/logo-white.png" class="main-logo" alt="logo"> -->
                                <div class="main-logo">Admin Panel</div>

                            </a>
                            <a class="logo-icon mobile-logo icon-light active" href="/admin">
                                <div class="main-logo">Admin Panel</div>
                                <!-- <img src="../../assets/img/brand/favicon.png" alt="logo"> -->
                            </a>
                            <a class="logo-icon mobile-logo icon-dark active" href="/admin">
                                <div class="main-logo">Admin Panel</div>
                                <!-- <img src="../../assets/img/brand/favicon-white.png" alt="logo"> -->
                            </a>
                        </div>
                        <div class="main-sidemenu is-expanded">
                            <div class="app-sidebar__user clearfix">
                                <div class="dropdown user-pro-body">
                                    <div class="">
                                        <img alt="user-img" class="avatar avatar-xl brround"
                                            src="../../assets/img/faces/11.jpg">
                                        <span class="avatar-status profile-status bg-green"></span>
                                    </div>
                                    <div class="user-info">
                                        <% if(user){ %>
                                            <h4 class="fw-semibold mt-3 mb-0 text-capitalize">
                                                <%= user.name %>
                                            </h4>
                                            <% } %>
                                                <!-- <span class="mb-0 text-muted">Premium Member</span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="slide-left disabled active is-expanded d-none" id="slide-left">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24"
                                    viewBox="0 0 24 24">
                                    <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z">
                                    </path>
                                </svg>
                            </div>
                            <ul class="side-menu open" style="margin-right: 0px; margin-left: 0px;">
                                <li class="side-item side-item-category">Main</li>
                                <li class="slide <% if (page_url === 'dashboard') { %> is-expanded <% } %>">
                                    <a class="side-menu__item <% if (page_url === 'dashboard') { %> active <% } %>"
                                        href="/admin">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="side-menu__icon"
                                            viewBox="0 0 24 24">
                                            <path d="M0 0h24v24H0V0z" fill="none"></path>
                                            <path d="M5 5h4v6H5zm10 8h4v6h-4zM5 17h4v2H5zM15 5h4v2h-4z" opacity=".3">
                                            </path>
                                            <path
                                                d="M3 13h8V3H3v10zm2-8h4v6H5V5zm8 16h8V11h-8v10zm2-8h4v6h-4v-6zM13 3v6h8V3h-8zm6 4h-4V5h4v2zM3 21h8v-6H3v6zm2-4h4v2H5v-2z">
                                            </path>
                                        </svg>
                                        <span class="side-menu__label">Dashboard</span>
                                        <!-- <span class="badge bg-success text-light" id="bg-side-text">1</span> -->
                                    </a>
                                </li>

                                <li
                                    class="slide <% if (page_url === 'enquiry.list' || page_url === 'enquiry.add' || page_url === 'enquiry.edit') { %> is-expanded <% } %>">
                                    <a class="side-menu__item <% if (page_url === 'enquiry.list' || page_url === 'enquiry.add' || page_url === 'enquiry.edit') { %> active <% } %>"
                                        href="/enquiry">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="side-menu__icon"
                                            viewBox="0 0 24 24">
                                            <path d="M0 0h24v24H0V0z" fill="none"></path>
                                            <path d="M13 4H6v16h12V9h-5V4zm3 14H8v-2h8v2zm0-6v2H8v-2h8z" opacity=".3">
                                            </path>
                                            <path
                                                d="M8 16h8v2H8zm0-4h8v2H8zm6-10H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm4 18H6V4h7v5h5v11z">
                                            </path>
                                        </svg>
                                        <span class="side-menu__label">Enquiry</span>
                                    </a>
                                </li>
                                <li class="side-item side-item-category">General</li>
                                <li
                                    class="slide <% if (page_url === 'category.list' || page_url === 'category.add' || page_url === 'category.edit' || page_url === 'product.list' || page_url === 'product.add' || page_url === 'product.edit') { %> is-expanded <% } %>">
                                    <a class="side-menu__item <% if (page_url === 'category.list' || page_url === 'category.add' || page_url === 'category.edit' || page_url === 'product.list' || page_url === 'product.add' || page_url === 'product.edit') { %> active is-expanded <% } %>"
                                        data-bs-toggle="slide" href="javascript:void(0);">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="side-menu__icon"
                                            viewBox="0 0 24 24">
                                            <path d="M0 0h24v24H0V0z" fill="none"></path>
                                            <path d="M13 4H6v16h12V9h-5V4zm3 14H8v-2h8v2zm0-6v2H8v-2h8z" opacity=".3">
                                            </path>
                                            <path
                                                d="M8 16h8v2H8zm0-4h8v2H8zm6-10H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm4 18H6V4h7v5h5v11z">
                                            </path>
                                        </svg>
                                        <span class="side-menu__label"> Product</span>
                                        <i class="angle fe fe-chevron-down"></i>
                                    </a>
                                    <ul class="slide-menu">
                                        <li class="side-menu__label1"><a href="javascript:void(0);">Product</a></li>
                                        <li><a class="slide-item <% if (page_url === 'category.list' || page_url === 'category.add' || page_url === 'category.edit') { %> active <% } %>"
                                                href="/category">Category </a></li>
                                        <li><a class="slide-item <% if (page_url === 'product.list' || page_url === 'product.add' || page_url === 'product.edit') { %> active <% } %>"
                                                href="/product">Product </a></li>
                                    </ul>
                                </li>
                                <li
                                    class="slide <% if (page_url === 'tag.list' || page_url === 'tag.add' || page_url === 'tag.edit' || page_url === 'blogcategory.list' || page_url === 'blogcategory.add' || page_url === 'blogcategory.edit' || page_url === 'blog.list' || page_url === 'blog.add' || page_url === 'blog.edit') { %> is-expanded <% } %>">
                                    <a class="side-menu__item <% if (page_url === 'tag.list' || page_url === 'tag.add' || page_url === 'tag.edit' || page_url === 'blogcategory.list' || page_url === 'blogcategory.add' || page_url === 'blogcategory.edit' || page_url === 'blog.list' || page_url === 'blog.add' || page_url === 'blog.edit') { %> active is-expanded <% } %>"
                                        data-bs-toggle="slide" href="javascript:void(0);">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="side-menu__icon"
                                            viewBox="0 0 24 24">
                                            <path d="M0 0h24v24H0V0z" fill="none"></path>
                                            <path d="M13 4H6v16h12V9h-5V4zm3 14H8v-2h8v2zm0-6v2H8v-2h8z" opacity=".3">
                                            </path>
                                            <path
                                                d="M8 16h8v2H8zm0-4h8v2H8zm6-10H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm4 18H6V4h7v5h5v11z">
                                            </path>
                                        </svg>
                                        <span class="side-menu__label"> Blog</span>
                                        <i class="angle fe fe-chevron-down"></i>
                                    </a>
                                    <ul class="slide-menu">
                                        <li class="side-menu__label1"><a href="javascript:void(0);">Blog</a></li>
                                        <li><a class="slide-item <% if (page_url === 'blogcategory.list' || page_url === 'blogcategory.add' || page_url === 'blogcategory.edit') { %> active <% } %>"
                                                href="/blogcategory">Category </a></li>
                                        <li><a class="slide-item <% if (page_url === 'tag.list' || page_url === 'tag.add' || page_url === 'tag.edit') { %> active <% } %>"
                                                href="/tag">Tag </a></li>
                                        <li><a class="slide-item <% if (page_url === 'blog.list' || page_url === 'blog.add' || page_url === 'blog.edit') { %> active <% } %>"
                                                href="/blog">Blog </a></li>
                                    </ul>
                                </li>

                                <li
                                    class="slide <% if (page_url === 'slider.list' || page_url === 'slider.add' || page_url === 'slider.edit') { %> is-expanded <% } %>">
                                    <a class="side-menu__item <% if (page_url === 'slider.list' || page_url === 'slider.add' || page_url === 'slider.edit') { %> active <% } %>"
                                        href="/slider">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="side-menu__icon"
                                            viewBox="0 0 24 24">
                                            <path d="M0 0h24v24H0V0z" fill="none"></path>
                                            <path d="M13 4H6v16h12V9h-5V4zm3 14H8v-2h8v2zm0-6v2H8v-2h8z" opacity=".3">
                                            </path>
                                            <path
                                                d="M8 16h8v2H8zm0-4h8v2H8zm6-10H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm4 18H6V4h7v5h5v11z">
                                            </path>
                                        </svg>
                                        <span class="side-menu__label">Slider</span>
                                    </a>
                                </li>
                                <li
                                    class="slide <% if (page_url === 'faq.list' || page_url === 'faq.add' || page_url === 'faq.edit') { %> is-expanded <% } %>">
                                    <a class="side-menu__item <% if (page_url === 'faq.list' || page_url === 'faq.add' || page_url === 'faq.edit') { %> active <% } %>"
                                        href="/faq">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="side-menu__icon"
                                            viewBox="0 0 24 24">
                                            <path d="M0 0h24v24H0V0z" fill="none"></path>
                                            <path d="M13 4H6v16h12V9h-5V4zm3 14H8v-2h8v2zm0-6v2H8v-2h8z" opacity=".3">
                                            </path>
                                            <path
                                                d="M8 16h8v2H8zm0-4h8v2H8zm6-10H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm4 18H6V4h7v5h5v11z">
                                            </path>
                                        </svg>
                                        <span class="side-menu__label">Faqs</span>
                                    </a>
                                </li>
                                <li
                                    class="slide <% if (page_url === 'application.list' || page_url === 'application.add' || page_url === 'application.edit') { %> is-expanded <% } %>">
                                    <a class="side-menu__item <% if (page_url === 'application.list' || page_url === 'application.add' || page_url === 'application.edit') { %> active <% } %>"
                                        href="/application">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="side-menu__icon"
                                            viewBox="0 0 24 24">
                                            <path d="M0 0h24v24H0V0z" fill="none"></path>
                                            <path d="M13 4H6v16h12V9h-5V4zm3 14H8v-2h8v2zm0-6v2H8v-2h8z" opacity=".3">
                                            </path>
                                            <path
                                                d="M8 16h8v2H8zm0-4h8v2H8zm6-10H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm4 18H6V4h7v5h5v11z">
                                            </path>
                                        </svg>
                                        <span class="side-menu__label">Application</span>
                                    </a>
                                </li>
                                <li
                                    class="slide <% if (page_url === 'page.list' || page_url === 'page.add' || page_url === 'page.edit') { %> is-expanded <% } %>">
                                    <a class="side-menu__item <% if (page_url === 'page.list' || page_url === 'page.add' || page_url === 'page.edit') { %> active <% } %>"
                                        href="/page">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="side-menu__icon"
                                            viewBox="0 0 24 24">
                                            <path d="M0 0h24v24H0V0z" fill="none"></path>
                                            <path d="M13 4H6v16h12V9h-5V4zm3 14H8v-2h8v2zm0-6v2H8v-2h8z" opacity=".3">
                                            </path>
                                            <path
                                                d="M8 16h8v2H8zm0-4h8v2H8zm6-10H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm4 18H6V4h7v5h5v11z">
                                            </path>
                                        </svg>
                                        <span class="side-menu__label">Page</span>
                                    </a>
                                </li>
                                <li
                                    class="slide <% if (page_url === 'user.list' || page_url === 'user.add' || page_url === 'user.edit') { %> is-expanded <% } %>">
                                    <a class="side-menu__item <% if (page_url === 'user.list' || page_url === 'user.add' || page_url === 'user.edit') { %> active <% } %>"
                                        href="/user">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="side-menu__icon"
                                            viewBox="0 0 24 24">
                                            <path d="M0 0h24v24H0V0z" fill="none"></path>
                                            <path d="M13 4H6v16h12V9h-5V4zm3 14H8v-2h8v2zm0-6v2H8v-2h8z" opacity=".3">
                                            </path>
                                            <path
                                                d="M8 16h8v2H8zm0-4h8v2H8zm6-10H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm4 18H6V4h7v5h5v11z">
                                            </path>
                                        </svg>
                                        <span class="side-menu__label">User</span>
                                    </a>
                                </li>
                                <li
                                    class="slide <% if (page_url === 'role.list' || page_url === 'role.add' || page_url === 'role.edit') { %> is-expanded <% } %>">
                                    <a class="side-menu__item <% if (page_url === 'role.list' || page_url === 'role.add' || page_url === 'role.edit') { %> active <% } %>"
                                        href="/role">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="side-menu__icon"
                                            viewBox="0 0 24 24">
                                            <path d="M0 0h24v24H0V0z" fill="none"></path>
                                            <path d="M13 4H6v16h12V9h-5V4zm3 14H8v-2h8v2zm0-6v2H8v-2h8z" opacity=".3">
                                            </path>
                                            <path
                                                d="M8 16h8v2H8zm0-4h8v2H8zm6-10H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm4 18H6V4h7v5h5v11z">
                                            </path>
                                        </svg>
                                        <span class="side-menu__label">Role</span>
                                    </a>
                                </li>
                                <li
                                    class="slide <% if (page_url === 'country.list' || page_url === 'country.add' || page_url === 'country.edit' || page_url === 'state.list' || page_url === 'state.add' || page_url === 'state.edit' || page_url === 'city.list' || page_url === 'city.add' || page_url === 'city.edit') { %> is-expanded <% } %>">
                                    <a class="side-menu__item <% if (page_url === 'country.list' || page_url === 'country.add' || page_url === 'country.edit' || page_url === 'state.list' || page_url === 'state.add' || page_url === 'state.edit' || page_url === 'city.list' || page_url === 'city.add' || page_url === 'city.edit') { %> active is-expanded <% } %>"
                                        data-bs-toggle="slide" href="javascript:void(0);">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="side-menu__icon"
                                            viewBox="0 0 24 24">
                                            <path d="M0 0h24v24H0V0z" fill="none"></path>
                                            <path d="M13 4H6v16h12V9h-5V4zm3 14H8v-2h8v2zm0-6v2H8v-2h8z" opacity=".3">
                                            </path>
                                            <path
                                                d="M8 16h8v2H8zm0-4h8v2H8zm6-10H6c-1.1 0-2 .9-2 2v16c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm4 18H6V4h7v5h5v11z">
                                            </path>
                                        </svg>
                                        <span class="side-menu__label"> Location</span>
                                        <i class="angle fe fe-chevron-down"></i>
                                    </a>
                                    <ul class="slide-menu">
                                        <li class="side-menu__label1"><a href="javascript:void(0);">Location</a></li>
                                        <li><a class="slide-item <% if (page_url === 'country.list' || page_url === 'country.add' || page_url === 'country.edit') { %> active <% } %>"
                                                href="/country">Country </a></li>
                                        <li><a class="slide-item <% if (page_url === 'state.list' || page_url === 'state.add' || page_url === 'state.edit') { %> active <% } %>"
                                                href="/state">State </a></li>
                                        <li><a class="slide-item <% if (page_url === 'city.list' || page_url === 'city.add' || page_url === 'city.edit') { %> active <% } %>"
                                                href="/city">City </a></li>
                                    </ul>
                                </li>
                                <li class="slide <% if (page_url === 'setting') { %> is-expanded <% } %>">
                                    <a class="side-menu__item <% if (page_url === 'setting') { %> active <% } %>"
                                        href="/setting">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="side-menu__icon"
                                            viewBox="0 0 24 24">
                                            <path
                                                d="M12 16c2.206 0 4-1.794 4-4s-1.794-4-4-4-4 1.794-4 4 1.794 4 4 4zm0-6c1.084 0 2 .916 2 2s-.916 2-2 2-2-.916-2-2 .916-2 2-2z">
                                            </path>
                                            <path
                                                d="m2.845 16.136 1 1.73c.531.917 1.809 1.261 2.73.73l.529-.306A8.1 8.1 0 0 0 9 19.402V20c0 1.103.897 2 2 2h2c1.103 0 2-.897 2-2v-.598a8.132 8.132 0 0 0 1.896-1.111l.529.306c.923.53 2.198.188 2.731-.731l.999-1.729a2.001 2.001 0 0 0-.731-2.732l-.505-.292a7.718 7.718 0 0 0 0-2.224l.505-.292a2.002 2.002 0 0 0 .731-2.732l-.999-1.729c-.531-.92-1.808-1.265-2.731-.732l-.529.306A8.1 8.1 0 0 0 15 4.598V4c0-1.103-.897-2-2-2h-2c-1.103 0-2 .897-2 2v.598a8.132 8.132 0 0 0-1.896 1.111l-.529-.306c-.924-.531-2.2-.187-2.731.732l-.999 1.729a2.001 2.001 0 0 0 .731 2.732l.505.292a7.683 7.683 0 0 0 0 2.223l-.505.292a2.003 2.003 0 0 0-.731 2.733zm3.326-2.758A5.703 5.703 0 0 1 6 12c0-.462.058-.926.17-1.378a.999.999 0 0 0-.47-1.108l-1.123-.65.998-1.729 1.145.662a.997.997 0 0 0 1.188-.142 6.071 6.071 0 0 1 2.384-1.399A1 1 0 0 0 11 5.3V4h2v1.3a1 1 0 0 0 .708.956 6.083 6.083 0 0 1 2.384 1.399.999.999 0 0 0 1.188.142l1.144-.661 1 1.729-1.124.649a1 1 0 0 0-.47 1.108c.112.452.17.916.17 1.378 0 .461-.058.925-.171 1.378a1 1 0 0 0 .471 1.108l1.123.649-.998 1.729-1.145-.661a.996.996 0 0 0-1.188.142 6.071 6.071 0 0 1-2.384 1.399A1 1 0 0 0 13 18.7l.002 1.3H11v-1.3a1 1 0 0 0-.708-.956 6.083 6.083 0 0 1-2.384-1.399.992.992 0 0 0-1.188-.141l-1.144.662-1-1.729 1.124-.651a1 1 0 0 0 .471-1.108z">
                                            </path>
                                        </svg>
                                        <span class="side-menu__label">Setting</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="slide-right" id="slide-right">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24"
                                    viewBox="0 0 24 24">
                                    <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                            <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                        </div>
                        <div class="ps__rail-y" style="top: 0px; height: 937px; right: 0px;">
                            <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 832px;"></div>
                        </div>
                    </aside>
                </div>
                <!-- <div class="jumps-prevent" style="padding-top: 63px;"></div>  -->
                <!-- main-sidebar -->
            </div>